@import "tailwindcss";

:root {
  --primary-color: #3525cd;
  --secondary-color: #ffffff;
  --tertiary-color: #c7c4d8;
  --neutral-color: #eff3f7;
  --font-family: "Inter", sans-serif;
  --primary-font-color: #191c1e;
}

html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
