.primary {
    padding: 0.8rem 1.6rem;
    border-radius: 0.8rem;
    background-color: var(--primary-color);
    font-size: 1.4rem;
    color: var(--neutral-color);
}

.secondary {
    width: 80%;
    border-radius: 0.8rem;
    border: 1px solid;
    margin: 1.6rem;
    border-color: var(--neutral-color);
    background-color: var(--secondary-color);
    color: var(--primary-font-color);
    align-items: center;
}