.card {
 display: flex;
  flex-direction: column;
  overflow: hidden;
  border: 1px solid var(--neutral-color);
  border-radius: 1.2rem;
  background-color: #FFFFFF;
  align-items: center;
}


.cardDisabled {
  position: relative;
  overflow: hidden;
}

.disabledOverlay {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 20%;
  background-color: gray;
}

.cardBody {
  padding: 1.6rem;
}

.cardBody:hover{
    border-color: var(--primary-color);
  }

  .cardImage{
    position: relative;
  width: 100%;
  height: 240px;
  }